<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>


    <mat-nav-list>
      <a mat-list-item [routerLink]="[{ outlets: { left: ['guests'] } }]">Guest left</a>
      <a mat-list-item [routerLink]="[{ outlets: { right: ['guests'] } }]">Guest right</a>
      <a mat-list-item routerLink="guests">Guests</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Guest App</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <!-- Main outlet -->
    <router-outlet></router-outlet>

    <div class="split-view-container">
      <div class="left">
        <h1>Left view</h1>

        <!-- Left outlet -->
        <router-outlet name="left"></router-outlet>
      </div>
      <div class="right">
        <h1>Right view</h1>


        <!-- Right outlet -->
        <router-outlet name="right"></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
