.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.split-view-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;

  div {
    width: 50%;
  }

  .left {
    background: lightskyblue;
  }

  .right {
    background: lightgray;
  }
}


